.social li {
	float: left;
	background-image: url(../img/social.png);
	background-repeat: no-repeat;
	height: 0;
	overflow: hidden;
	margin: 0 10px 0 0;
}

.twitter {
	width: 120px;
	padding-top: 120px;
	background-position: -140px -10px;
}


.facebook {
	width: 120px;
	padding-top: 120px;
	background-position: -10px -10px;
}

.arrows li {
	float: left;
	background-image: url(../img/arrows.png);
	background-repeat: no-repeat;
	height: 0;
	overflow: hidden;
	margin: 0 10px 0 0;
}

.up {
	width: 96px;
	padding-top: 96px;
	background-position: -271px -20px;
}

.down {
	width: 96px;
	padding-top: 96px;
	background-position: -396px -20px;
}

.left {
	width: 96px;
	padding-top: 96px;
	background-position: -20px -20px;
}

.right {
	width: 96px;
	padding-top: 96px;
	background-position: -145px -20px;
}